<div class="project">
    <h2>Man Do<span class="color-three">.</span></h2>
    <div class="row">
        <div class="eight columns">
            <img src="{{site.url}}/assets/img/ManDo@2x.png" alt="Man Do main screen on iPhone">
        </div>
        <div class="four columns">
            <p>Man do was one of the original projects I had coded in Objective-C way back in 2009. When Swift was
                released I converted it to the new language and re-released it back on the App Store. Man do was a note
                taking app that offered a no fuss solution to storing and completing tasks.</p>
            <h4>Build: <span class="highlight">iOS</span></h4>
            <a class="app-store-badge" title="Download Sens'd from the app store"></a>
        </div>
    </div>
</div>