<div class="project">
    <h2>Pawey<span class="color-three">.</span></h2>
    <div class="row">
        <div class="eight columns">
            <img src="{{site.url}}/assets/img/Pawey@2x.jpg" alt="Pawey main image">
        </div>
        <div class="four columns">
            <p class="margin-clear">Pawey was an app to help train dogs, including my own. A team of trainers was hired to
                produce the course content which introduced new lessons to teach obedience skills along the way. It was a great project from
                start to finsh and used almost all of the iOS functionality. The app started a dogs training with the basics 
                before working through Pre School, High School, College and as an added bonus, Cheeky course content!</p>
            <h4>Build: <span class="highlight">iOS, Watch OS, Web</span></h4>
        </div>
    </div>
</div>