<div class="project">
    <h2>Take Card<span class="color-three">.</span></h2>
    <div class="row">
        <div class="four columns">
            <p>Take Card was a company I founded back in 2015 to allow freelancers and small companies to accept mobile
                payments from clients. It’s feature list included invoice generation, user branding, PCI Compliance, basic
                accounting and recurring billing.</p>
            <p>I used the newly created Stripe Connect platform to handle user account creation along with Swift Vapor
                providing a middle layer for invoice creation, user management, analytics and client facing web interface.
                Mailgun handled the email processing sending various templates.</p>
            <h4>Build: <span class="highlight">iOS, Watch OS, Web, API</span></h4>
            <a href="" class="app-store-badge" aria-disabled="true"></a>
        </div>
        <div class="eight columns">
            <img src="{{site.url}}/assets/img/take-card@2x.jpg" alt="Take Card screens on iPhone">
        </div>
    </div>
</div>