<section class="clients">
    <div class="container">
        <h2>Previous Clients</h2>
        <div class="row">
            <div class="three columns">
                <img src="assets/img/Paramount-Pictures-Logo.svg" alt="Paramount Pictures Logo">
            </div>
            <div class="three columns">
                <img src="assets/img/Sony-Logo.svg" alt="Sony Pictures Logo">
            </div>
            <div class="three columns">
                <img src="assets/img/The-Distance-logo.svg" alt="The Distance Logo">
            </div>
            <div class="three columns">
                <img src="assets/img/WQA-Logo.svg" alt="WQA logo" class="wqa">
            </div>
        </div>
    </div>
</section>