<section class="clients">
    <div class="container">
        <h2>Previous Clients</h2>
        <div class="row">
            <div class="three columns">
                <img src="" alt="Paramount Pictures Logo">
            </div>
            <div class="three columns">
                <img src="" alt="Sony Pictures Logo">
            </div>
            <div class="three columns">
                <img src="" alt="The Distance Logo">
            </div>
            <div class="three columns">
                <img src="" alt="WQA logo">
            </div>
        </div>
    </div>
</section>