<footer role="complementary">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <p>&copy; 2020 - JOC Digital Ltd (11914550).  All rights reserved.</p> 
            </div>
            <div class="one-half column">
                <ul>
                    <li class="color-three"><a href="{{site.url}}{{ '#about' | relative_url }}" title="about">About</a>.</li>
                    <li class="color-three"><a href="{{site.url}}{{ '#work' | relative_url }}" title="work">Work</a>.</li>
                    <li class="color-three"><a href="{{site.url}}{{ '#hire' | relative_url }}" title="hire">Hire</a>.</li>
                    <li class="color-three"><a href="{{site.url}}{{ '/blog' | relative_url }}" title="blog">Blog</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>