<header class="site-header" role="banner">
  <section class="availability">
    <div class="container">
      <h2>Availability for hire in June. <strong>Book now</strong></h2>
    </div>
  </section>
  <section class="navigation">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <!-- Logo SVG -->
          <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="/assets/img/Jay-Cohen-Logo.svg" alt="Jay Cohen Logo"></a>
        </div>
        <div class="one-half column">
            {% include navigation.html %}
        </div>
      </div>
    </div>
  </section>
</header>
