html {
    scroll-behavior: smooth;
  }

body {
    font-family: $font-primary;
    font-size: $font-base;
    font-weight: $font-regular;
    background-color:$color-one;
    color: $color-two; 
    position: relative;
}
img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

::selection {
    background: $color-three;
    color: $color-two;  
}

::-moz-selection {
    background: $color-three;
    color: $color-two;
}

ul {
    list-style: none;
}

ol {
    @media screen and (min-width: $tablet) {
        padding-left: 16px;
    }
    li {
        font-size: $font-base;
        line-height: 26px;
    }
}

.background {
    background: url(../img/background-top.svg) no-repeat top center;
    background-size: $mobile auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: $tablet) {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    @media screen and (min-width: $desktop) {
        background: url(../img/background-top-desktop.svg) no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    @media screen and (min-width: 2000px) {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
}

.background-page {
    background: url(../img/background-page.svg) no-repeat top center;
    background-size: $mobile auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media screen and (min-width: $desktop) {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    @media screen and (min-width: 2000px) {
        -webkit-background-size: 70%;
        -moz-background-size: 70%;
        -o-background-size: 70%;
        background-size: 70%;
    }
}

.background-footer {
    background: url(../img/footer-page.svg) no-repeat top center;
    background-size: $mobile auto;
    width: 100%;
    height: 100%;
    overflow: visible;
    @media screen and (min-width: $desktop) {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        height: 655px;
        bottom: 0;
        z-index: -1;
    }
    @media screen and (min-width: 2000px) {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
}

// Logo 

.logo {
    width: 48px;
    height: auto;
    position: absolute;
    top: 14px;
    left: 24px;
}


// Helpers

.hide-mobile {
    display: block;
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.hide-tablet {
    display: block;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}


//  Colors

.color-three {
    color: $color-three;
}

.color-four {
    color: $color-four;
}

// Links

a {
    text-decoration: underline;
    color: $color-three;
    transition: 0.3s;
    &:hover {
        color: $color-two;
    }
}

// Form

form {
    font-family: $font-primary;
}
label {
    padding-bottom: 18px;
    line-height: 24px;
    @media screen and (min-width: $desktop) {
        padding-bottom: 10px;
    }
}
.btn-label {
    display: block;
    padding: 14px 20px 14px 50px;
    transition: 0.3s;
    user-select: none;
    border-radius: $border-radius;
    background: $color-five url(../img/radio.svg) no-repeat 10px;
    background-size: 22px 22px;
    cursor: pointer;
    margin-bottom: 14px;
    @media screen and (min-width: $mobile) {
        width: 185px;
        max-width: 185px;
        margin-right: 21px;
    }
}
.last {
    margin-right: 0;
}
.message-label {
    margin-top: $padding/2;
}
input[type=text], textarea {
    background-color: $color-five;
    border: 1px solid $color-five;
    font-size: $font-base;
    font-weight: $font-medium;
    line-height: 24px;
    padding: 14px 20px;
    color: $color-two;
    min-height: 46px;
    width: 100%;
}
input[type=text]::placeholder, textarea::placeholder {
    color: $color-six;
}
input[type=text]:focus, textarea:focus {
    border: 1px solid $color-three;
}
input[type=radio] {
   display: none;
}

input[type=radio]:checked + .btn-label {
    border-radius: $border-radius;
    background: $color-three url(../img/radio-checked.svg) no-repeat 10px;
    background-size: 22px 22px;
}
textarea {
    width: 100%;
    min-height: 240px;
    border: 1px solid $color-five;
    resize: none;
}
button {
    background-color: $color-three;
    color: $color-two;
    border: $color-three;
    min-height: 46px;
    text-transform: capitalize;
    font-size: $font-base+1;
    font-weight: $font-medium;
    float: right;
    transition: 0.3s;
    &:focus {
        color: $color-two;
        background-color: $color-five;
    }
}

#submit-status {
    color: $color-two;
    padding-left: 28px;
    line-height: 23px;
}