.main-nav {
    position: absolute;
    top: 34px;
    right: 0;
    width: auto;
    transition: 0.3s;
    z-index: 1;
    @media screen and (min-width: $tablet) {
        top: 0;
    }
    @media screen and (min-width: $desktop) {
        top: -2px;
    }
    ul {
       display: none;
        position: relative;
        @media screen and (min-width: $tablet) {
            .nav-group {
                margin-top: 48px;
            }
        }
        li {
            background: url(../img/nav-polygon.svg) no-repeat center;
            cursor: pointer;
            width: 85px;
            height: 85px;
            position: absolute;
            a {
                text-decoration: none;
                color: $color-two;
                display:block;
                text-align: center;
                padding: 34px 0;
                font-weight: $font-medium;
            }
        }
        :nth-child(1) {
            right: 38px;
            top: 20px;
        }
        :nth-child(2) {
            right: 76px;
            top: 86px;
        }
        :nth-child(3) {
            right: 0px;
            top: 86px;
        }
        :nth-child(4) {
            right: 38px;
            top: 152px;
        }
        
    }
    .nav-btn {
        background: url(../img/mobile-nav.svg) no-repeat center;
        cursor: pointer;
        width: 48px;
        height: 48px;
        position: absolute;
        top:-16px;
        right: 24px;
        @media screen and (min-width: $mobile) {
            top: 36px;
        }
    }
}