section {
    @media screen and (min-width: $mobile) {
        padding: 120px 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 268px 0 120px 0;
    }
}

// Intro 

.intro {
    padding: 160px 0 0 0;
    position: relative;
    
    @media (min-width: $tablet) {
        padding-top: 228px;
    }
    @media (min-width: $desktop) {
        padding-top: 385px;
    }

    h1 {
        font-size: 40px;
        line-height:54px;
        margin-bottom:24px;
        @media (min-width: $desktop) {
            font-size: 54px;
            line-height:74px;
        }
    }
    h2 {
        font-size: 18px;
        line-height: 28px;
        @media (min-width: $desktop) {
            padding-bottom: 8px;
        }
    }
    p {
        font-weight: $font-semi-bold;
        margin-left: 28px;
        line-height: 23px;
        @media (min-width: $desktop) {
            padding-bottom: $padding;
        }
    }
    p:before {
        content: " ";
        background: url(../img/polygon.svg) no-repeat center;
        position: absolute;
        height: 20px;
        width: 20px;
        left: 0;
    }
    .clients {
        padding: 0 0 $large-padding 0;
        display: block;
        
        @media (min-width: $tablet) {
            padding: 0;
            display: inline-block;
            li {
                padding-right: 28px;
                margin: 0;
                width: inherit;
                float: left;
            }
        } 

        li {
            width: 80%;
            @media (min-width: $tablet) {
                padding-right: 28px;
                margin: 0;
                width: inherit;
                float: left;
            } 
        }
    }
}

// About

.about {
    article {
        position: relative;
        margin-bottom: $padding*3;
        max-width: 658px;
        @media (min-width: $desktop) {
            padding-bottom: 0;
        }
        .faded {
            position: absolute;
            left: 0;
            top: -20px;
            z-index: -1;
        }
        h2 {
            padding: 28px 0 0 $padding-medium;
            font-weight: $font-semi-bold;
            z-index: 1;
        }
        img {
            margin-top: -78px;
            width: 133%;
            display: flex;
            @media (min-width: $desktop) {
                width: 168%;
            }   
        }
    }
    .first {
        @media (min-width: $desktop) {
            padding-bottom: 68px;
        }
    }
    @media (min-width: $desktop) {
        padding-bottom: 0;
    }
}

// Testimonials

.testimonials {
    @media (min-width: $desktop) {
        padding: 0;
        position: relative;
        z-index: 1;
    }
    h2 {
        padding-bottom: 0;
        font-weight: $font-semi-bold;
        @media screen and (min-width: $tablet) {
            padding: 128px 0 0 $padding-medium;
            z-index: 1;
        }
    }
    h3 {
        font-size: 40px;
        line-height: $padding-medium;
        text-align: center;
        @media screen and (min-width: $tablet) {
            text-align: left;
            font-size: 70px;
            line-height: 80px;
            width: 50%;
            position: absolute;
            z-index: -1;
        }
    }
    .testimonial {
        clear: both;
        .author {
            text-align: center;
            @media screen and (min-width: $tablet) {
                float: left;
            }
            img {
                width: 168px;
                height: auto;
                margin-bottom: 18px;
            }
            h4 {
                font-size: $font-larger;
                line-height: $font-larger;
                margin-bottom: 12px;
            }
            h5 {
                color: $color-three;
                font-size: $font-base;
                line-height: $font-base;
            }
        }
        .content {
            @media screen and (min-width: $tablet) {
                max-width: 600px;
                padding-left: 206px;
                padding-top: 22px;
                clear: right;
            }
        }
    }
    .nav {
        text-align: center;
        margin: 0 auto;
        .count {
            font-size: $font-base+1;
            font-weight: $font-bold;
        }
        .btns {
            display: inline-flex;
            .left-btn {
                background: url(../img/Left-btn.svg) no-repeat center;
                cursor: pointer;
                width: 46px;
                height: 46px;
                opacity: .3;
                transition: 0.3s;
                &:hover {
                    opacity: 0.8;
                }
            }
            .right-btn {
                background: url(../img/Right-btn.svg) no-repeat center;
                cursor: pointer;
                width: 46px;
                height: 46px;
                transition: 0.3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
       
    }
}

// Contact

.contact {
    padding-top: $padding*2;
    @media screen and (min-width: $desktop) {
        padding-top: $padding*4;
    }
    h2 {
        font-size: 70px;
        line-height: 78px;
        padding-bottom: 0;
        margin-bottom: 0;
        z-index: -1;
        @media screen and (min-width: $desktop) {
            font-size: 90px;
            margin-right: 90px
        }
    }
    h3 {
        position: relative;
        margin-top: -36px;
        z-index: 1;
        @media screen and (min-width: $desktop) {
            margin-top: -36px;
            margin-bottom: 78px;
            padding-left: $padding-medium;
            font-size: 40px;
        }
    }
    h4 {
        @media screen and (min-width: $desktop) {
            font-size: 20px;
            margin-top: 98px;
            margin-bottom: 0;
        }
    }
    .guidelines {
        font-weight: $font-medium;
        @media screen and (min-width: $desktop) {
            margin-top: 58px;
        }
    }
    @media screen and (min-width: $desktop) {
        .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            .btn-label {
                justify-content: space-between; 
            }
        }
    }
}

// Footer
footer {
    padding-top: $padding;
    text-align: center;
    @media screen and (min-width: $tablet) {
        text-align: left;
    }   
    p {
        font-size: 12px;
        color: $color-six;
        @media screen and (min-width: $desktop) {
            margin-top: -8px;
        }
    }
    ul {
        display: inline-flex;
        margin-bottom: 28px;
        @media screen and (min-width: $desktop) {
            float: right;
            margin-bottom: 0;
        }
        li {
            margin-bottom: 0;
            font-weight: $font-medium;
            font-size: 12px;
            margin-right: 21px;
            @media screen and (min-width: $desktop) {
                margin-left: 21px;
                margin-right: 0;
            }
            a {
                color: $color-two;
                text-decoration: none;
                &:hover {
                    color: $color-three;
                }
            }
        }
    }
}


// Guidelines

.page {
    padding: 120px 0;
    h1 {
        color: $color-four;
        opacity: .2;
        font-weight: $font-bold;
        font-size: 48px;
        line-height: 58px;
        @media screen and (min-width: $tablet) {
            font-size: 120px;
            line-height: 140px;
        }
    }
    h2 {
        color: $color-four;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
    }
    h3 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 18px;
        padding: 0;
    }
    h4 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 18px;
        padding: 0;
    }
    img {
        border-radius: 20px;
    }
    .block {
        padding: 2% 0;
        @media screen and (min-width: $tablet) {
            padding: 8% 0;
        }
    }
    .staggered {
        @media screen and (min-width: $tablet) {
            padding-top: 10%;
        }
    }
    .post-title {
       
    }
    a {
        font-weight: $font-semi-bold;
        margin-left: 28px;
        line-height: 30px;
        text-decoration: none;
    }
    a:before {
        content: " ";
        background: url(../img/polygon.svg) no-repeat center;
        position: absolute;
        height: 23px;
        width: 23px;
        left: 20px;
        @media screen and (min-width: $mobile) {
            left: 0;
        }
    }
    article {
        @media screen and (min-width: $tablet) {
            max-width: 65%;
        }
        padding-bottom: 8%;
        h2 {
            font-size: 22px;
            line-height: 23px;
            padding-bottom: 18px;
        }
        time {
            color: $color-four;
            font-size: $font-small;
            font-weight: $font-medium;
        }
        .post-content {
            padding-top: 2%;
            a {
                margin-left: 0;
            }
            a:before {
                background: none;
                position: static;
            }
            img {
                border-radius: 20px;
            }
        } 
        .read-more-link {
            margin-left: 0;
            text-decoration: underline;
            &:before {
                background: none;
                position: static;
            }
        }
        .back-arrow a {
            cursor: pointer;
            text-decoration: underline;
        }
        blockquote {
            p {
                font-size: $font-base;
                @media screen and (min-width: $tablet) {
                    font-size: 28px;
                    line-height: 48px;
                }
            }
            &:before {
                content: " ";
                background: url(../img/polygon.svg) no-repeat center;
                position: absolute;
                height: 28px;
                width: 28px;
                left: 28px;
                @media screen and (min-width: $mobile) {
                    left: 0;
                }
            }
        }
    }
}

.project {
    padding: 4% 0;
    h2 {
        font-size: 40px;
        line-height: 48px;
        color: $color-two;
        font-weight: $font-semi-bold;
    }
    h4 {
        font-size: 18px;
        line-height: 28px;
        color: $color-four;
    }
    a {
        margin-left: 0;
    }
    a:before {
        background: none;
        position: static;
    }
}