img {
    width: 100%;
    height: auto;
}

.site-header {
    .availability {
        background-color: lighten($color: $baseColor, $amount: 10%);
        color: $white;
        min-height: 43px;
        cursor: pointer;
        transition: all 0.3s ease;
        @media screen and (min-width: $mobile) {
            width: 270px;
            margin: 0 auto;
        }
        a {
            color: $white;
        }
        &:hover {
            background-color: $blue;
        }
    }
}

.intro {
    margin: 40px 0;
    @media screen and (min-width: $tablet) {
        margin: 100px 0 0 0;
        .six {
            width: 65%;
        }
    }
    @media screen and (min-width: $desktop) {
        margin: 200px 0 0 0;
        p {
            width: 68%;
        }
    }

}

.work {
    position: relative;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 100px;
    }
    .highlight {
        color: lighten($color: $baseColor, $amount: 40%);
    }
}

.clients {
    margin: 0 auto;
    position: relative;
    text-align: center;
    @media screen and (min-width: $tablet) {
        margin-bottom: 180px;
        h2 {
            margin-bottom: 80px;
        }
    }
    img {
        max-height: 120px;
        max-width: 120px;
        padding: 10px 0;
        @media screen and (min-width: $tablet) {
            max-width: 230px;
            max-height: 180px;
        }
    }
    .wqa {
        padding-top: 5%;
        @media screen and (min-width: $tablet) {
            padding-top: 22.5%;
        }
    }
}

.dotted-box {
    @media screen and (min-width: $desktop) {
        position: absolute;
        right:10%;
        height: 380px;
        width: 500px;
        background: url(../img/cross-grid.png) repeat top left;
    }
}

// DOTTED HEADER

.dotted-header {
    @media screen and (min-width: $tablet) {
        margin-top: 40px;
        height: 138px;
        width: 100%;
        background: url(../img/cross-grid.png) repeat top left;
    }
}


// PAGE

.page {
    img {
        padding-bottom: 20px;
    }
    margin-bottom: 48px;
    .email-link {
        @media screen and (min-width: $tablet) {
            position: absolute;
            top: 30%;
            right: -30px;
            font-size: 30px;
        }
        @media screen and (min-width: $desktop) {
            position: absolute;
            top: 40%;
            right: 60px;
        }
    }
    h5 {
        @media screen and (min-width: $tablet) {
            margin-top: 70px;
        }
    }
}

.about {
    position: relative;
    @media screen and (min-width: $desktop) {
        img {
            max-width: 280px;
            height: auto;
        }
        .me {
            float: right;
            position: relative;
            margin-top: 32px;
        }
        .arran {
            float: left;
            position: absolute;
            top: 52%;
            @media screen and (min-width: $largerScreen) {
                right: 240px;
            }
        }
    }
   
}


// BLOG
.blog {
    @media screen and (min-width: $tablet) {
        margin-top: 100px;
        margin-bottom: 78px;
    }
    article {
        width: 100%;
        @media screen and (min-width: $mobile) {
            width: 65%;
            margin: 0 auto;
        }
        @media screen and (min-width: $tablet) {
            width: 85%;
            margin-top: 48px;
            margin-bottom: 48px;
        }
        @media screen and (min-width: $desktop) {
            width: 65%;
         }
        .post-header {
            margin-top: 38px;
            @media screen and (min-width: $tablet) {
                margin-bottom: 24px;
            }
            time {
                @media screen and (min-width: $tablet) {
                    text-align: center;
                }
                display: block;
                font-size: $smallFont;
                font-weight: normal;
                color: lighten($color: $baseColor, $amount: 60%);
            }
        }
        .post-title {
            a {
                font-weight: 300;
            }
        }
        .post-content {
            pre {
                margin: 22px 8px;
            }
            .img-med-center {
                width: 100%;
                @media screen and (min-width: $tablet) {
                    width: 65%;
                }
                display: block;
                margin: 0 auto;
            }
        }
        blockquote {
            font-style: italic;
            background-color: #272822;
            padding: 12px;
            margin-left: 0;
            margin-right: 0;
            border-radius: $borderRadius;
            font-size: 20px;
            font-family: $graphik;
            letter-spacing: 0;
            font-weight: normal;
            line-height: 1.6em;
            p {
                margin: 20px 10px;
                color: $white !important;
            }
            @media screen and (min-width: $tablet) {
                padding: 24px;
            }
        }
        .middot {
            width: 22px;
            height: 1px;
            background-color: $baseColor;
            margin: 48px auto 0 auto;
            display: block;
        }
        
    }
    
}


// DOWNLOAD BOX

.download-box {
    border-radius: $borderRadius;
    cursor: pointer;
    color: $white;
    padding: 32px 24px;
    background: lighten($color: $blue, $amount: 8%) url(../img/project-icon@2x.png) no-repeat right center;
    background-size: 25%;
    transition: all 0.5s ease;
    h3 {
        margin-bottom: 0;
        font-size: 20px;
    }
    &:hover {
        background-size: 23%;
    }
}

// FOOTER

footer {
    @media screen and (min-width: $tablet) {
        margin-top: 48px;
    }
    .navigation {
        margin-top: 0;
        .main-nav {
            ul {
                text-align: center;
                margin-bottom: 10px;
                @media screen and (min-width: $tablet) {
                    text-align: left;
                } 
            }
            
        }
    }
}