.slider {
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    text-align: center;
    @media screen and (min-width: $tablet) {
        text-align: left;
    }
    ul {
        position: relative;
        height: auto;
        @media screen and (min-width: $desktop) {
            height: 240px;
        }
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
            display: block;
            height: 600px;
            width: 320px;
            @media screen and (min-width: $tablet) {
                height: 300px;
                width: 800px;
            }
        }
    }
}