@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');


h1, h3, h4, h5, h6 {
    font-weight: $font-semi-bold;
    line-height: 54px;
}

h2 {
    font-weight: $font-medium;
    font-size: 40px;
    padding-bottom: 48px;
    line-height: 43px;
    @media (min-width: $tablet) {
        padding-bottom: 18px;
    }
    @media (min-width: $desktop) {
        padding-bottom: 48px;
    }
}

.faded {
    font-weight: $font-bold;
    font-size: 120px;
    opacity: .2;
    line-height: 78px;
    color: $color-four;
}

p {
    font-weight: $font-regular;
    line-height: 28px;
}