
// Colors

$baseColor: #151515;
$white: #ffffff;
$orange: #FF9505;
$blue: #007ACC;


// Fonts
$gill: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$graphik: GraphikLight;


// Sizes
$normalFont: 16px;
$higherFont: 18px;
$smallFont: 14px;



// Bits

$smallPadding: 12px;
$borderRadius: 14px;


// Media query sizes

$mobile: 435px;
$tablet: 767px;
