
// Colors

$baseColor: #151515;
$white: #ffffff;
$orange: #FF9505;


// Fonts
$gill: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$graphik: GraphikLight;


// Sizes
$normalFont: 16px;
$higherFont: 18px;
$smallFont: 14px;



// Spacings

$smallPadding: 12px;



// Media query sizes

$mobile: 435px;
