
// Colors

$color-one: #003049;
$color-two: #F1F1F1;
$color-three: #F77F00;
$color-four: #00A5CF;
$color-five: #002A3F;
$color-six: #4D6A78;


// Fonts

$font-primary: 'Spartan', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;


// Sizes

$font-base: 15px;
$font-small: 14px;
$font-larger: 18px;
$font-x-large: 34px;


// Spacing

$padding: 38px;
$padding-medium: 48px;
$large-padding: 54px;
$smallPadding: 12px;
$border-radius: 4px;


// Media query sizes

$mobile: 435px;
$tablet: 767px;
$desktop: 1023px;
$largerScreen: 1280px;


// Other

$max-width: 1280px;
