<section class="contact" id="hire">
    <h2 class="faded">Contact</h2>
    <h3>Hire, say Hi<span class="color-three">.</span></h3>
    <div class="row">
        <div class="six columns">
            <form action="https://formspree.io/f/xqkgybqq" method="POST" id="contact-form">
                <input type="hidden" name="_next" value="//{{ site.url }}" />
                <div class="row">
                    <div class="six columns">
                        <label for="name">What is your full name?</label>
                        <input type="text" name="name" id="name" placeholder="Jay Cohen" required>
                    </div>
                    <div class="six columns">
                        <label for="email">What is your email address?</label>
                        <input type="text" name="email" id="email" placeholder="jay.cohen@example.com" required>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <label for="need">What sort of work do you need help with?</label>
                        <div class="flex-container">
                            <input type="radio" name="service" value="development" id="development" checked="checked">
                            <label for="development" class="btn-label">Development</label>
                            <input type="radio" name="service" value="support" id="support">
                            <label for="support" class="btn-label">Support</label>
                            <input type="radio" name="service" value="other" id="other">
                            <label for="other" class="btn-label last">Other</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <label for="message" class="message-label">What is your project all about?</label>
                        <textarea name="message" id="message" rows="30" placeholder="Hi Jay. We've got some work for you!" required></textarea>
                        <button type="submit" name="submit" id="submit-btn" value="Sent">Submit</button>
                        <p id="submit-status"></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="offset-by-one column five columns">
            <h4>Guidelines<span class="color-three">.</span></h4>
            <p>Due to Covid-19 I only work remotely and I aim to get back to all enquries within a day.</p>
            <p>If you're looking to hire me for a project, please provide any details along with timelines. I charge £500 per day for app development (plus VAT if applicable) and I can't work for profit-share or equity. I also offer support blocks to new and existing clients with a minimum of 2 hours booked per month.</p>
            <div class="guidelines">Check out my full guidelines <a href="{{site.url}}/guidelines" title="View guidelines">here</a></div>
        </div>
    </div>
</section>
