<section class="testimonials">
    <h3 class="faded">"Great team player"</h3>
    <h2>Testimonials<span class="color-three">.</span></h2>
    <div class="slider">
        <ul>
            <li>
                <div class="testimonial">
                    <div class="author">
                        <img src="assets/img/Erika-avatar.png" alt="Erika avatar">
                        <h4>Erika Padlo</h4>
                        <h5>Creatio</h5>
                    </div>
                    <div class="content">
                        <p>I have worked with many developers over the years and working with Jay has been one of the best! He is very knowledgeable and whenever an issue arose he would discuss with me about the best possible solutions. I would recommend Jay's services in a heartbeat to anyone looking.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <div class="author">
                        <img src="assets/img/Anthony-avatar.png" alt="Anthony avatar">
                        <h4>Anthony Main</h4>
                        <h5>The Distance</h5>
                    </div>
                    <div class="content">
                        <p>Jay joined us for a few months, which led to about 6 as a contract iOS developer. He worked diligently and fit in well with our team and our culture. Certainly more committed than most contractors in the market. More than comfortable in front of and leading client meetings. Would highly recommend.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <div class="author">
                        <img src="assets/img/Aidan-avatar.png" alt="Aidan avatar">
                        <h4>Aidan Mack</h4>
                        <h5>Android Developer</h5>
                    </div>
                    <div class="content">
                        <p>I worked closely with Jay for 6 months on a ticket purchasing application. Jay’s main area of expertise was developing the IOS app which he coded with confidence and met all the project milestones on time. His interpersonal skills were of great value to the projects progression and he was able to explain technical processes with ease to non-technical stakeholders.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="testimonial">
                    <div class="author">
                        <img src="assets/img/Eric-avatar.png" alt="Eric avatar">
                        <h4>Jakub Nowak</h4>
                        <h5>Oni Track</h5>
                    </div>
                    <div class="content">
                        <p>Jay is an amazing iOS developer. He is very patient, and always solved any issues we had along the way very quickly. I am very happy to have worked with him. Great job!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav">
        <div class="count"><span class="counter">1</span><span class="color-three total">/5</span></div>
        <div class="btns">
            <div class="left-btn prev"></div>
            <div class="right-btn next"></div>
        </div>
    </div>
</section>