<section class="about" id="about">
    <div class="row">
        <div class="offset-by-three column">
            <article class="first">
                <span class="faded">11</span>
                <h2>Years of experience<span class="color-three">.</span></h2>
                <p>I'm a freelance app developer and I've been building apps for clients for over 11 years in a wide range of sectors including international sports brands, film studios, health, CRM, and not for profit. Based in the middle of the UK, I've worked with clients across the world.</p>
                <p>In my spare time I can be seen trekking in the outdoors with family, working on a pilots license or attempting to make cryptocurrency money.</p>
            </article>
        </div>
        <div class="offset-by-five column">
            <article id="work">
                <span class="faded">48</span>
                <h2>Projects<span class="color-three">.</span></h2>
                <p>Most of the projects I've worked on are bound by NDA's, which is how most freelancers work today. A lot of my work comes from recommendations, so my portfolio contains side projects to keep my skills fresh. I find this way works best and is beneficial to clients.</p>
                <p>I like to work in a collaborative and open way, either working solo or part of a team tackling a larger problem. My code is clean, well documented, and easily read by non technical people, should they want to have a play.</p>
                <a href="/projects"><img src="{{site.url}}{{ 'assets/img/Projects.svg' | relative_url }}" alt="Projects Banner"></a>
            </article>
        </div>
    </div>
</section>