<section class="work" id="pawey">
    <div class="container">
        <h2>Pawey</h2>
        <div class="row">
            <div class="eight columns">
                <img src="{{site.url}}/assets/img/Pawey@2x.jpg" alt="Pawey main image">
            </div>
            <div class="four columns">
                <p class="margin-clear">Pawey was an app to help train dogs, including my own. I hired a team of trainers to produce the course content introducing new lessons to teach obedience skills. It was a great project from start to finsh and used almost all of the iOS functionality. The app started the training with the basics at first before working through Pre School, High School, College and Cheeky course content!</p>
                <h4>Build: <span class="highlight">iOS, Watch OS, Web</span></h4>
            </div>
        </div>
    </div>
</section>