<section class="pawey">
    <div class="container">
        <h2>Pawey</h2>
        <div class="row">
            <div class="seven colums">
                <img src="" alt="Pawey main image">
            </div>
            <div class="five columns">
                <p>Pawey was an app to help train dogs, including my own. I hired a team of trainers to produce the course content introducing new lessons to teach obedience skills. The app was a great project to start and finsh and used almost all of the iOS functionality. The app started the training with the basics at first before working through Pre School, High School, College and Cheeky course content!</p>
                <h4>Build: iOS, Watch OS, Web</h4>
                <img src="" alt="Pawey app shown on Apple Watch">
            </div>
        </div>
    </div>
</section>