<section class="sensd">
    <div class="container">
        <h2>Sens'd</h2>
        <div class="row">
            <div class="one-half columns">
                <img src="" alt="Sens'd image of Mountain Forest">
                <img src="" alt="Sens'd image of Mountain Snow">
            </div>
            <div class="one-half columns">
                <img src="" alt="">
                <p>Sens’d is an app I built from audio I recorded when visiting Canada’s Kootenay National Park.  AudioKit was used as the engine along with a customised soundwave generator to suit the aestethics. It was a simple app that packed a big punch which helped to unwind and relax after a hard day at work or when feeling blue.</p>
                <h4>Build: iOS</h4>
                <a class="app-store-badge" title="Download Sens'd from the app store"></a>
            </div>
        </div>
    </div>
</section>