<section class="work" id="sounds">
    <div class="container">
        <h2>Sounds UI Good</h2>
        <div class="row">
            <div class="six columns">
                <p>Having built a few apps & websites in my career I had built a large collection of sounds for various user interactions and alerts. In 2018 I decided to release them as a side project for anyone who could make use of them. Once the web page was designed and released on various market places it was also added to Product Hunt which achieved 2nd place for the day.</p>
            </div>
            <div class="six columns">
                <p>You can purchase the 114 sounds for $7 via gumroad.</p>
                <h4>Build: <span class="highlight">Web, Audio</span><br><a href="http://soundsuigood.com" target="_blank" class="normal-link" title="Visit Sounds UI Good Website">Visit SoundsUIGood.com</a></h4>
            </div>
        </div>
        <img src="{{site.url}}/assets/img/sounds-ui-good@2x.jpg" alt="Sounds UI Good banner">
    </div>
</section>