<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    <div class="background">
    <main aria-label="content">
      <header>
        <nav class="main-nav">
          <div class="nav-btn"></div>
          <ul>
              <div class="nav-group">
                <li><a href="{{site.url}}{{ '#about' | relative_url }}">About</a></li>
                <li><a href="{{site.url}}{{ '#work' | relative_url }}">Work</a></li>
                <li><a href="{{site.url}}{{ '#hire' | relative_url }}">Hire</a></li>
                <li><a href="{{site.url}}{{ '/projects' | relative_url }}">Projects</a></li>
              </div>
          </ul>
        </nav>
      </header>
      <div class="container">

        {{ content }}

      </div>
    </main>
  
    {%- include footer.html -%}

  </div>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ site.url }}{{'assets/js/script.js' | relative_url}}"></script>
  </body>
</html>