---
layout: default
---

<section class="intro">
  <div class="container">
      <div class="row">
          <div class="six columns">
              {%- if page.title -%}
              <h1 class="page-heading">{{ page.title }}</h1>
            {%- endif -%}
            {{ content }}
          </div> 
      </div>
  </div>
</section>

<section class="work-nav">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <ul>
          <li><a href="" class="current">Sens'd</a></li>
          <li><a href="">Pawey</a></li>
          <li><a href="">Take Card</a></li>
          <li><a href="">Sounds UI Good</a></li>
          <li><a href="">Man do</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{%- include _work/sensd.html -%}
{%- include _work/pawey.html -%}
{%- include _work/take-card.html -%}
{%- include _work/soundsuigood.html -%}
{%- include _work/man-do.html -%}
{%- include clients.html -%}
