---
layout: default
---

<section class="intro">
  <div class="container">
      <div class="row">
          <div class="seven columns">
              {%- if page.title -%}
              <h1 class="page-heading">{{ page.title }}</h1>
            {%- endif -%}
            {{ content }}
          </div> 
      </div>
  </div>
</section>

{%- include _work/sensd.html -%}
{%- include _work/pawey.html -%}
{%- include _work/take-card.html -%}
{%- include _work/soundsuigood.html -%}
{%- include _work/man-do.html -%}
{%- include clients.html -%}
