---
layout: page
---
<section class="page">
  <article class="post">
      <div class="container">
        <div class="back-arrow"><a onclick="window.history.back()">Back</a><br><br><br><br><br></div>
        <header class="post-header center">
            <h1 class="post-title">{{ page.title | escape }}</h1>
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
        </header>
        <div class="post-content">
            {{ content }}
          </div>
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        <div class="back-arrow"><a onclick="window.history.back()">Back</a></div>
    </div>
  </article>
</section>